---
title: Pop-up! Spreading the holiday cheer
discordLink: null
image: santa-popup
---

In the quest to spread the festive spirit of Christmas to every corner of the globe, the North Pole has conceived a delightful new initiative. This year, Santa has unveiled a new initative: a Holiday Greeting Pop-Up designed for seamless integration into websites. Upon visiting a site, this pop-up will show after a brief interval, showcasing a heartwarming holiday message straight from Santa!

Your task is to bring Santa's vision to life by creating this pop-up. It should feature a jolly image of Santa Claus, along with a warm, festive message wishing the visitor a Merry Christmas and happy holidays.
